@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0 auto;
    background-color: #1B244A;
    overflow: hidden;
}

.container {
    margin-top:3rem;
    display: flex;
    justify-content: space-around;
    background-color: #111827;
    border: 1px solid #F94F6D;
    border-radius: 0.3rem;
    padding: 1rem 1rem 2rem 1rem;;
    transition: all 300ms ease;
    margin: 2rem 1rem 1rem 1rem;
}

.container:hover {
    opacity: 0.8;
}

.container h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
}

#homescore, #guestscore {
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #080001;
    text-align: center;
    padding: 0.5rem 0.5rem;;
    border-radius: 0.2rem;
}

.scorebuttons button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
    background: transparent;
    border: 1px solid #9AABD8;
    border-radius: 0.2rem;
    padding: 0.2rem 0.2rem;
}


#newgame, #finish {
    background-color: #080001;
    color: #059669;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem 0.2rem;
    margin: 1rem 0.5rem;
    transition: all 300ms ease;
}

#newgame:hover, #finish:hover {
    opacity: 0.8;
    color: #F94F6D;
}

.side-container {
    display: flex;
    justify-content: center;
   
}

#winnertext {
    color: #eee;
    display: flex;
    justify-content: center
}